/* @tailwind components; */

.meetings-table-container {
    height: 80%;
    overflow-y: scroll;
}

table.meetings-table {
    padding-left: 7px;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    position: relative;
    /* border: 1px solid red */

}

.meetings-table thead th {
    position: sticky;
    top:0;
    height: 100%;
    background: #e5e7eb90
}

.meetings-table th  {
    position: sticky;
    top: -1px;
}

.meetings-table tbody {
    height: 80%;
    overflow-y: scroll;
}


.meetings-table tr {
    border: 1px solid red;
    /* border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF; */
}

.meetings-table tr:nth-child(even) {
    background-color: #f3f4f6ba;
}

.meetings-table td p {
    margin: 0;
    /* padding: 4px 2px; */
    /* width: 90%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}